.kwicks {list-style: none;position: relative;margin: 0;padding: 0;}
.kwicks li{width: 350px;height: 300px;/*do not change these */display: block;overflow: hidden;padding: 0; }
.kwicks.horizontal li {margin-right: 0px;float: left;background: #000 url(images/loader.gif) no-repeat 50% 50%;}
.kwicks.vertical  li{margin-bottom: 5px; /*Set to same as spacing option. */	}
.kwicks li images{max-height:310px !important;}
.kwickshadow {z-index: 10;background: url(images/kwickshadow.png) repeat-y;position: absolute;right: 0px;height: 310px;width: 27px;}

.slideimage {float:left;padding:0;margin:0}
.slide-minicaption {bottom:60px;left:0px;float:left;position:absolute;color:#fff;padding:10px 10px 10px 15px;font-size:10px;line-height:18px;background:#222;width: 120px;}
.slide-minicaptiontitle {font-size:20px;font-family: 'Yanone Kaffeesatz', sans-serif;line-height:28px;filter:alpha(opacity=100); /* For IE8 and earlier */}
.slidecaptiontitle h2{color:#ffffff; text-shadow:none}
.slidecaption {top:78px !important;left:0px;position:absolute;color:#fff;padding:15px 15px 25px 15px;font-size:12px;line-height:18px;background:#111;width: 482px;overflow:hidden;}
.slidecaption p{color:#eee;font-size:20px;font-family: 'Yanone Kaffeesatz', sans-serif;line-height:28px;filter:alpha(opacity=100); /* For IE8 and earlier */text-decoration:none;}
.slidecaption p.sub{color:#999999;font-size:13px;font-family: 'PT Sans', sans-serif;line-height:18px;text-decoration:none; margin-bottom:14px}
.slidecaption a {color:#128eee;display:inline !important;}
.slidecaption a:hover {text-decoration:none;}
.slidecaptiontitle {color:#fff; display:block;padding-bottom:10px; line-height:22px;}
.slidecaptiontitle a {color:#fff;}
.slidecaptiontitle a:hover {color:#fff; text-decoration:none;}