
#header{width:780px;height:106px;padding:0px 21px;margin:15px 0px 0px 0px;-moz-border-radius-topright: 6px;-moz-border-radius-topleft: 6px;-webkit-border-top-left-radius: 6px;-webkit-border-top-right-radius: 6px;background:#111;border-bottom:solid 1px #4e4f51;}
.al_wrap{width:790px;min-height:500px;margin:0 0 20px 0;-moz-border-radius-bottomright: 6px;-moz-border-radius-bottomleft: 6px;-webkit-border-bottom-left-radius: 6px;-webkit-border-bottom-right-radius: 6px;background:#f8f8f8 url(../images/background1.jpg);border:solid 6px rgba(0,0,0, 0.1);border-top:none;padding-right:20px;}

#main_wrap{-moz-border-radius: 6px 6px 6px 6px;background: none repeat scroll 0 0 #F8F8F8;padding:10px;}
h2#main-title{background: -webkit-gradient(linear, left top, left bottom, from(#54b3db), to(#217bbe));background: -moz-linear-gradient(top,  #54b3db,  #217bbe);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b3db', endColorstr='#217bbe');border:none;color:#FFF;padding:4px 6px;margin:10px 0px;font-size:18px;-webkit-border-radius: 8px; -moz-border-radius: 8px;border-radius: 8px;}

#logo-container{float:left;width:300px; margin-top:18px}
#admin-panel{ float:right; }
#admin-panel p {color:#ccc;font-weight:bold;letter-spacing:1px;line-height:100%; text-transform:uppercase; font-size:10px; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; display:table-cell; height:106px; vertical-align:middle}
.tg-title{color:#eee; font-size:16px; font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif; text-transform:uppercase; letter-spacing:1px; padding:18px 6px 6px 6px}


.al_section{background:#eee;}

.al_opts label{font-size:12px;font-weight:700;width:122px;display:block;float:left;	}
.al_input {padding:30px 10px;border-bottom: solid 1px #DDD;}
.al_opts small{display:block;float:right;width:150px;color:#666;}
.al_opts li{list-style:none;}
.al_opts input[type="text"], .al_opts select, .al_input textarea, .form input[type="text"], .form textarea, .r-upload .file {width:240px;font-size:12px;padding:4px;color:#333;line-height:1em;border: solid 1px #CCC;background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);box-shadow: rgba(0,0,0, 0.1) 0px 0px 4px;/*0.1 actually means 10 %*/-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 4px;-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 4px;}
.al_opts input[type="submit"], .al-button{border:solid 1px rgba(0,0,0, 0.6);-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.5);-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);box-shadow:0 1px 4px rgba(0,0,0,0.5);cursor:pointer;font-weight:bold;font-size:11px;padding:4px 6px;background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);font-family:Arial, Helvetica;color:#111;}

.red-back{border:solid 1px #950000;background: #fd2323;background: -webkit-gradient(linear, left top, left bottom, from(#fd2323), to(#a50202));background: -moz-linear-gradient(top,  #fd2323,  #a50202);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd2323', endColorstr='#a50202');}
a.red-back{color:#FFF;padding:2px 6px;}
a.al-button{text-decoration:none;}
.al_input input:focus, .al_input textarea:focus{-moz-box-shadow:0 0 8px #BBB;-webkit-box-shadow:0 0 8px lightblue;box-shadow:0 0 8px lightblue;}
.al_input textarea{width:240px;height:175px;font-size:12px;padding:4px;color:#333;line-height:1.5em;}
.al_title h3 {cursor:pointer;font-size:16px;text-shadow:#ccc 1px 0px 0px;margin:0;font-weight:bold;color:#333;float:left;width:68%;padding:14px 4px;}
.al_section h3{cursor:pointer;border:1px solid #ddd;border-bottom:0;color: #666;background: #333;background: -webkit-gradient(linear, left top, left bottom, from(#58595b), to(#2a2a2a));background: -moz-linear-gradient(top,  #fefefe,  #dfe0e1);padding:0;}

.al_title h3 img.inactive{margin:0px 10px 0 2px;width:29px;height:29px;	background:url('images/pointer.png') no-repeat 0 0;float:left;}
.al_title h3 img.active{margin:0px 10px 0 2px;width:29px;height:29px;background:url('images/pointer.png') no-repeat  0 -29px;float:left;}
.al_title span.submit{display:block;float:left;margin:0;padding:0;padding:14px 6px;}
.clearfix, .clear{clear:both;}
.al_table th, .al_table td{border:1px solid #bbb;padding:10px;text-align:center;}
.al_table th, .al_table td.feature{border-color:#888;}

#footer-block{text-align:right;padding:20px 0px;}

.font-preview{margin-left:123px; margin-top:20px}
.font-preview a{background:url('../images/preview.png') no-repeat left; padding-left:20px; color:#333; font-weight:bold; font-size:11px}


/******************  MESSAGE BLOCKS  *****************/

#messages {margin-left:17px;padding:10px 0px;}
#messages p {color:#FFF;font-weight:bold;text-shadow:#333 1px 0px 0px;font-size:12px;padding:0px 10px 0px 35px;-moz-border-radius:5px 5px 5px 5px;-webkit-border-radius:5px 5px 5px 5px;}
.info-message, .update-message, .success-message, .warning-message, .error-message {-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;width:auto;display:block;}
.info-message, .update-message {border: 1px solid #8dacf7;background: #d9e4ff url(../images/info.png) 10px center no-repeat;}
.warning-message {border: 1px solid #e6db55;background: #fefbcc url(../images/warning.png) 10px center no-repeat;}
.success-message {border:1px solid #99dc8d;background: #008000 url(../images/success.png) 10px center no-repeat;}
.error-message {border:1px solid #e2918d;background: #ffcfcd url(../images/action-error.png) 10px center no-repeat;}

/*****************************************************/


/*********************  UPLOADS  *********************/

.r-upload .select-file {width:85px;height:30px;display:inline;position:absolute;overflow:hidden;background: transparent url(../images/file-choose.png) right center no-repeat;margin-left:4px;cursor:pointer;}
.r-upload .file {padding:6px;display:inline;width:150px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.r-upload {padding-bottom:10px;overflow:hidden;width:100%;float:left;clear:left;}

/*****************************************************/


/****************  VERTICAL TABS  ********************/

.vtabs {position: relative}
.vtabs .vtabs-tab-column {position: absolute; left: 17px; margin: 0; width: 170px; min-width: 170px;}
.vtabs .vtabs-tab-column ul {list-style: none;margin: 0px;padding: 0px;}
.vtabs .vtabs-tab-column ul li.open, .vtabs .vtabs-tab-column ul li.closed {cursor:pointer;margin-bottom: 1px;margin-right:-1px;min-height:20px;z-index: 10;color: #797979;display: block;font: normal normal bold 12px/18px sans-serif;padding: 10px 10px 10px 11px;text-decoration: none;text-shadow: #333 0px 1px 0px;background:url('../images/opaque.png');}
.vtabs .vtabs-tab-column ul li:hover, .vtabs .vtabs-tab-column ul li.open {background: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#eeeeee));background: -moz-linear-gradient(top,  #dcdcdc,  #eeeeee);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#ffffff');color:#333;width:157px;background:#F8F8F8;-moz-border-radius-topleft: 6px;-moz-border-radius-bottomleft: 6px;-webkit-border-top-left-radius: 6px;-webkit-border-top-right-radius: 6px;}
.vtabs .vtabs-tab-column ul li a.open, .vtabs .vtabs-tab-column ul li a.closed {font: 12px Helvetica, Arial, sans-serif;font-weight: bold;margin: 0px;text-decoration: none;color: #eee;display:block;height:20px;line-height:20px;padding:5px 5px 5px 20px;}
.vtabs .vtabs-tab-column ul li a.closed {color: #eee}
.vtabs .vtabs-tab-column ul li a.open{color:#333}
.vtabs .vtabs-tab-column ul li a{background-repeat:no-repeat;background-position:left;}
.vtabs .vtabs-tab-column ul li:hover a, .vtabs .vtabs-tab-column ul li.open{color:#333;text-shadow:none;}
.vtabs .vtabs-tab-column ul li a#sliders			{background-image:url('../images/sliders.png')}
.vtabs .vtabs-tab-column ul li a#general-settings	{background-image:url('../images/general.png')}
.vtabs .vtabs-tab-column ul li a#home-page			{background-image:url('../images/home.png')}
.vtabs .vtabs-tab-column ul li a#blog				{background-image:url('../images/blog.png')}
.vtabs .vtabs-tab-column ul li a#uc-page			{background-image:url('../images/uc.png')}
.vtabs .vtabs-tab-column ul li a#portfolio		{background-image:url('../images/portfolio.png')}
.vtabs .vtabs-tab-column ul li a#styles				{background-image:url('../images/styles.png')}
.vtabs .vtabs-tab-column ul li a#footer-section		{background-image:url('../images/footer.png')}
.vtabs .vtabs-tab-column ul li a#header-section		{background-image:url('../images/header.png')}
.vtabs .vtabs-tab-column ul li a#contact-form		{background-image:url('../images/contacts.png')}
.vtabs .vtabs-tab-column ul li a#misc		{background-image:url('../images/news.png')}
.vtabs .vtabs-tab-column ul li a:hover{color:#333}
.vtabs .vtabs-content-column {padding: 0px;margin: 0px;}
.vtabs .vtabs-content-column .vtabs-content-panel {padding:3px 10px;background:#F8F8F8;margin: 0px 0px 0px 20px;-moz-border-radius: 6px;border-radius: 6px;-webkit-border-radius: 6px;}

/*****************************************************/


/***************  FORM AND BUTTONS  ******************/

.skin-background{float:left;width:136px;height:136px;text-align:center;margin-bottom:10px;}
.skin-background img{display:block;width:94px; height:94px;border:solid 1px #CCC;padding:7px;-moz-border-radius:6px;-webkit-border-radius: 6px;border-radius: 6px;}
.backgrounds{float:left;width:544px;}
.skin-background label{float:none;display:inline;padding-left:0;font-size:10px;}

a.button-back, a.button-next, input.finish, fieldset.step {border-radius: 4px;-khtml-border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;	color:#333}
a.button-back:hover, a.button-next:hover, input.finish:hover {background-color: #6699CC;}
.button-back {float: left;text-decoration: none;}
.button-next {float: right;text-decoration: none;}

.form{clear:both;}
.form input{color:#333;padding:0.4em; font-size:12px}
.form textarea { width: 766px;	height: 250px;margin:10px 0px;}
fieldset.step {border: 1px solid #DDD;clear: left;font-size:10px;background:#EEE;padding:10px;min-height:300px;}
fieldset.step label {font: bold 12px;margin: 4px 0 0px 7px;}
.form fieldset.step legend {color: #333;font-weight:bold;font-size:10px;padding: 0 8px 4px 8px;background:#eee;-moz-border-radius: 4px;border-radius: 4px;-webkit-border-radius: 4px}
.form fieldset.step input, fieldset.step textarea, fieldset.step select {border: 1px solid #AAA;font: 10px verdana;margin-left: 7px;}
.form input.finish {border-style: none;cursor: pointer;float: right;text-decoration: none;}

/*****************************************************/


/*************  LISTS AND TABLE STYLES  **************/

.list-table {border-collapse:collapse;width:100%;border-left:solid 1px #ccc;border-bottom:solid 1px #ccc;}
.list-table th {color:#fff;text-shadow:#000 1px 0px 0px;padding:8px; text-align:left; font-weight:bold;background: #222;border-right:solid 1px #bbb;}
.list-table td {padding:0.2em; color:#111;border-right:solid 1px #ccc;padding:10px;}
.list-table tr td {background: #f9f9f9;background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ebebeb));background: -moz-linear-gradient(top,  #f9f9f9,  #ebebeb);}
.list-table tr.alternate td {background: #e8e8e8;background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#e8e8e8));background: -moz-linear-gradient(top,  #e3e3e3,  #e8e8e8);}

li.error-image {background: url('../img/error.png') no-repeat right top;}
ul.stepy-titles {list-style: none;margin: 0;padding: 0;width: 100%;margin-bottom:20px;}
ul.stepy-titles li {color: #ddd;cursor: pointer;font: bold 16px arial;float: left;padding: 10px;border:dotted 1px #CCC;margin-right:20px;-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius:  6px;}
ul.stepy-titles li.current-step {color: #111;cursor: auto;	background:#F8F8F8;background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eee));background: -moz-linear-gradient(top,  #f8f8f8,  #eee);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eeeeee');}
ul.stepy-titles li span {font: 11px verdana;display: block;}

/*****************************************************/


/*******************  TOGGLES  ***********************/

h2.toggle-trigger {padding: 4px 4px 4px 8px;margin: 10px 0 5px 0;height: 33px;line-height: 33px;background:#3c3c3c;-moz-border-radius:6px;-webkit-border-radius:6px;}
h2.toggle-trigger a {padding-left:30px;color: #DDD;line-height: 33px;text-decoration: none;display: block;outline:none;font-weight:bold;font-size: 14px;background: url(../images/toggle.png) no-repeat 0px -32px;text-shadow:none}
h2.active a{background: url(../images/toggle.png) no-repeat 0px 0px;}.toggle-container {border:dotted 1px #CCC;-moz-border-radius:5px;-webkit-border-radius:5px;}
.toggle-container .block {padding: 20px;}
.toggle-container .block p {margin: 5px 0;}

/*****************************************************/


/**************** PRICING TABLES  ********************/

#pricing-table-1{}
#pricing-table-1 .column{position:relative;float:left;margin-right:16px;margin-bottom:20px; width:204px;background: url('../../../images/pricing_bg.png');padding:10px 10px 20px 10px; -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);-webkit-box-shadow: 3px 3px rgba(0,0,0,0.1); box-shadow: 3px 3px rgba(0,0,0,0.1)}
#pricing-table-1 .column.last-item{margin-right:0;}
#pricing-table-1 .column:hover{}
#pricing-table-1 ul{list-style:none;padding:10px 20px;}
#pricing-table-1 h2{font-size:18px; color:#999999; padding-bottom:4px; padding-left:10px}
#pricing-table-1 h3{font-size:48px; color:#555555; text-align:center; text-shadow:#ccc 1px 2px 0}
#pricing-table-1 li{background:url('../../../images/green_check.png') no-repeat left;color:#555555;padding-left:28px;line-height:36px; font-size:13px; font-family:Arial, Helvetica, sans-serif; text-shadow:#fff 1px 1px 0px}
#pricing-table-1 .best-value{position:absolute; right:-2px; top:0px;background:url('../../../images/badge.png') no-repeat;width:112px;height:112px;display:block;}
#pricing-table-1 .pb-wrapper{text-align:center; margin-top:20px}
#pricing-table-1 .button{padding:8px 16px; font-size:13px}

#pricing-table-1.pricing-dark .column{background: url('../../../images/pricing_bg_dark.png')}
#pricing-table-1.pricing-dark h2{color:#777777; text-shadow:#000 1px 1px 0px}
#pricing-table-1.pricing-dark h3 {color:#fff; text-shadow:#000 1px 2px 0px}
#pricing-table-1.pricing-dark li {color:#cccccc; text-shadow:#000 1px 1px 0px}
#pricing-table-1.pricing-dark .divider {background:url('../../../images/divider.png') repeat-x top;height:2px;width:100%; border:none}

#pricing-table-1 input[type="text"]{width:150px; margin-left:0}

#pricing-table-1 label{display:inline; width:40px; margin-left:0}
#pricing-table-1 .pb-wrapper label{ width:88px; text-align:right}
#pricing-table-1 .pb-wrapper input[type="text"], #pricing-table-1 select{width:100px}
 #pricing-table-1 select {height:24px}
.ibadge{border-top:dotted 1px #666; margin-top:10px; padding-top:10px}
/******************************************************/
#_promo {height:100px}
.column-order{cursor:move; width:80px}
.column-thumbnail, th.column-thumbnail{text-align:center}
#portfolio_image{text-align:center; width:120px}
td.column-portfolio_image{text-align:center}
.portfolio-categories-select{margin:20px 0px}
.fullselect{width:150px}
