/*
 * jQuery Nivo Slider v2.5.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivo_container{
	width:1040px;
	height:311px;
	margin:auto;
	background-color:#ffffff;
	background-image:url(../../images/body_shadow_small.png);
	background-position:bottom left;
	background-repeat:no-repeat;
}
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	text-decoration:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	top:0px;
	left:690px;
	padding-right:20px;
	padding-left:20px;
	padding-bottom:10px;
	padding-top:10px;
	z-index:8;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(17, 17, 17);
	/* RGBa with 0.8 opacity */
	background: rgba(17, 17, 17, 0);
	width:230px;
}
.nivo-caption h3 {
	color:#111111;
	font-size:38px;
	font-family: 'Open Sans Condensed', sans-serif;	
	line-height:34px;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	text-decoration:none;
}
.nivo-caption p {
	color:#111111;
	font-size:24px;
	font-family: 'Open Sans Condensed', sans-serif;	
	line-height:30px;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	text-decoration:none;
	padding-bottom:25px;
}
.nivo-caption a {
	color:#128eee;
	display:inline !important;
	-webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.nivo-caption a:hover {
	color:#42df81;
	-webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.nivo-html-caption {
    display:none;
}
.nivobutton{
	margin-top:5px;
	margin-right:5px;
}
.slide_button{
	margin-top:0px;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:100px;
	z-index:9;
	cursor:pointer;
	background:url(../../images/nivo/arrows.png) no-repeat;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/

#slider-wrapper {
    width:670px;
    height:240px;
}
#slider {
	position:relative;
    width:670px;
    height:240px;
	background:url(../../images/nivo/loading.gif) no-repeat 50% 50%;
	margin-left:40px;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}
.nivo-controlNav {
	padding:7px;
	position:absolute;
	left:312px;
	bottom:24px;
	z-index:9999;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../../images/nivo/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -21px;
}
.nivo-directionNav a {
	display:block;
	width:60px;
	height:38px;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-60px 0;
	right:0px;
}
a.nivo-prevNav {
	left:0px;
}